.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    padding-top: 35px;
    background-color: #eeeeee;
    border-radius: 50px;
    backdrop-filter: blur(6px);
    position: sticky;
    top: 0;
    width: 80%;
    margin: 0 auto;
    height: 20px;
}

.logo {
    padding: 5px 18px;
    width: 100px;
}

.createBtn {
    background: black;
    color: white;
    border-radius: 50px;
    padding: 7px 25px;
}

.header-background{
    border: 2px solid red;
    background-color: pink;
    height: 100vh;
}

.hero {
    text-align: center;
    padding-bottom: 80px;
    height: 100vh;
}

.heroTitle {
    font-size: 2.3rem;
    margin: 0 auto;
}

.heroCta {
    background: black;
    color: white;
    border-radius: 14px;
    padding: 10px 32px;
}

.info {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
}

.infoLeft {
    background: #595959;
    color: white;
    border-radius: 18px 0 0 18px;
    padding: 38px 32px;
    min-height: 170px;
    display: flex;
    align-items: center;
}

.infoRight {
    background: #f4f4f4;
    flex: 1;
    border-radius: 0 18px 18px 0;
}
