.header-background {
  background-image: url("/png/header_bg.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.hero {
  position: relative;
  text-align: center;
  font-family: var(--font-xbold);
}

.heroTitle {
  font-size: var(--text-title);
  font-weight: 100;
}

.heroCta {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background: var(--color-black);
  color: var(--color-white);
  border-radius: var(--radius-pill);
  padding: 10px 20px;
  padding-left: 0;
  overflow: hidden;
  font-family: var(--font-main);
  margin: 0 auto;
}

.cta-text {
  font-size: var(--text-md);
  padding: 0 16px;
  transition: transform 0.45s;
}

.cta-arrow {
  font-size: 1.6rem;
  opacity: 1;
  transition: transform 0.5s, opacity 0.2s;
}

.cta-arrow.left {
  opacity: 0;
  transform: translateX(-20px);
}

.heroCta:hover {
  background-image: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
}

.heroCta:hover .cta-text {
  transform: translateX(36px);
}

.heroCta:hover .cta-arrow.left {
  opacity: 1;
  transform: translateX(30px);
}

.heroCta:hover .cta-arrow.right {
  opacity: 0;
  transform: translateX(32px);
}

.info {
  width: 50%;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Creato-Medium";
  text-align: center;
  font-size: var(--text-title);
  color: var(--color-gray-dark);
  border-radius: var(--radius-lg);
}

.gradient-text {
  background-image: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 50%,
    var(--color-accent) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
