.header-background {
  background-color: rgb(204, 204, 204);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.hero {
  position: relative;
  text-align: center;
  font-family: "Creato";
}

.heroTitle {
  font-size: 2.3rem;
  font-weight: 100;
}

.heroCta {
  display: flex;
  border: none;
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 999px;
  padding: 15px 32px;
  padding-left: 0;
  overflow: hidden;
  font-family: "Creato";
  margin: 0 auto;
}

.cta-text {
  font-size: 1.5rem;
  padding: 0 16px;
  transition: transform 0.45s;
}

.cta-arrow {
  font-size: 1.6rem;
  opacity: 1;
  transition: transform 0.5s, opacity 0.2s;
}

.cta-arrow.left {
  opacity: 0;
  transform: translateX(-20px);
}

.heroCta:hover .cta-text {
  transform: translateX(36px);
}

.heroCta:hover .cta-arrow.left {
  opacity: 1;
  transform: translateX(30px);
}

.heroCta:hover .cta-arrow.right {
  opacity: 0;
  transform: translateX(32px);
}

.info {
  width: 60%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  font-family: "Creato";
}

.infoLeft {
  background: #bdbdbd;
  color: white;
  border-radius: 18px 0 0 18px;
  padding: 38px 150px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.infoRight {
  background: #f4f4f4;
  flex: 1;
  border-radius: 0 18px 18px 0;
}
