.form-background {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/png/header_bg.png);
  background-repeat: no-repeat;
}

.auth-form {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.616);
  padding: 100px 70px;
  border-radius: 5%;
  font-family: var(--font-main);
  box-shadow: var(--shadow-soft);
  width: 300px;
}

.auth-form input:focus {
  border: 2px solid var(--color-primary);
  outline: none;
}

.auth-form input {
  height: 25px;
  width: 80%;
  margin: 10px;
  border-radius: var(--radius-md);
  border: 1px solid #0000002d;
}

#fld_email {
  margin-left: 0;
}
#fld_password {
  margin-left: 0;
}
#fld_name {
  margin-left: 0;
}

.form-cta-btn {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: var(--radius-pill);
  padding: 4px 15px;
  padding-left: 0;
  overflow: hidden;
  font-family: var(--font-main);
  margin-top: 30px;
}

.form-cta-text {
  font-size: 1rem;
  padding-right: 16px;
  transition: transform 0.45s;
}

.form-cta-arrow {
  font-size: 1.6rem;
  opacity: 1;
  transition: transform 0.5s, opacity 0.2s;
}

.form-cta-arrow.left {
  opacity: 0;
  transform: translateX(-20px);
}

.form-cta-btn:hover {
  background-image: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
}

.form-cta-btn:hover .form-cta-text {
  transform: translateX(36px);
}

.form-cta-btn:hover .form-cta-arrow.left {
  opacity: 1;
  transform: translateX(20px);
}

.form-cta-btn:hover .form-cta-arrow.right {
  opacity: 0;
  transform: translateX(32px);
}

.form-cta-btn.github {
  margin-top: 10px;
}

.form-cta-btn.github:hover {
  background-image: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
}

.form-cta-btn.github .form-cta-arrow img {
  width: 20px;
  height: 20px;
}
