.pfp-name-flex {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  top: 8rem;
  font-family: "Creato-ExtraBold";
  text-transform: uppercase;
  font-size: 1.2rem;
  color: rgb(54, 54, 54);
}

.pfp-createur {
  width: 10rem;
}

.titre-page {
  position: absolute;
  left: 27rem;
  top: 25rem;
  font-family: "Creato-Medium";
  color: rgb(54, 54, 54);
  text-transform: uppercase;
}

.histoires-container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
  border-radius: 80px;
  padding-top: 15rem;
  min-height: 70vh;
  color: rgb(54, 54, 54);
  background-color: #e0e0e05b;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 5%;
  padding-bottom: 80px;
}

.histoire-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 15px;
  margin-bottom: 3rem;
  border-radius: 20px;
  font-family: "Creato";
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.histoire-image {
  width: 100%;
  height: 300px;
  background-color: #e0e0e05b;
  border-radius: 20px;
}

.text-content {
  padding-left: 25px;
  padding-right: 25px;
}

.histoire-titre {
  font-size: 1.8rem;
  font-family: "Creato-ExtraBold";
}

.histoire-auteur {
  font-family: "Creato-Medium";
  font-size: 1rem;
  color: #ec6e9e;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.icons img {
  height: 23px;
}

.icons-top {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.icons-bottom a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.icons-bottom a {
  /* font-family: "Creato"; */
  font-size: 0.9rem;
  margin: 0;
}
