.pfp-name-flex {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  top: 8rem;
  font-family: "Creato-ExtraBold";
  text-transform: uppercase;
  font-size: 1.2rem;
  color: rgb(54, 54, 54);
}

.pfp-createur {
  width: 10rem;
}

.titre-page {
  position: absolute;
  left: 27rem;
  top: 25rem;
  font-size: 2.5rem;
  font-family: Creato;
  color: rgb(54, 54, 54);
}

.histoires-container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
  border-radius: 80px;
  padding-top: 17rem;
  min-height: 70vh;
  color: rgb(54, 54, 54);
  background-color: #e0e0e05b;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 5%;
  padding-bottom: 80px;
}

.histoire-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  padding: 15px;
  margin-bottom: 3rem;
  border-radius: 20px;
  font-family: "Creato";
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.histoire-image {
  min-width: 345px;
  height: 300px;
  background-color: #e0e0e05b;
  border-radius: 20px;
}

.text-content {
  padding-left: 25px;
  padding-right: 25px;
}

.histoire-titre {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.8rem;
  font-family: "Creato-ExtraBold";
}

.histoire-auteur {
  margin-top: 5;
  margin-bottom: 30;
  font-size: 1em;
  color: rgba(54, 54, 54, 0.589);
  font-family: "Creato-ExtraBold";
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.icons img {
  height: 23px;
}

.icons-top {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.icons-bottom a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.icons-bottom a {
  font-size: 0.9rem;
  margin: 0;
}

.bin {
  position: absolute;
  width: 25px;
  right: 15;
  top: 15;
}

.create-story {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 300px;
  background: linear-gradient(90deg, #ec6e9e 0%, #f7ab93 50%, #ffa97b 100%);
  color: white;
  font-family: "Creato";
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.create-story:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.create-title {
  color: white;
  font-family: "Creato-Bold";
  font-size: 1.5rem;
  margin-top: 0;
}

.create-text {
  color: rgba(32, 32, 32, 0.616);
  font-family: "Creato-Bold";
  margin: 0;
}

.create-plus {
  position: absolute;
  width: 32px;
  bottom: 15;
  right: 15;
}
