/* ===========================================
   CONTAINER PRINCIPAL
   =========================================== */
.fiche-container {
  height: 65vh;
  width: 75%;
  background-color: var(--color-gray-transparent);
  padding: 60px;
  font-family: var(--font-main);
  border-radius: var(--radius-lg);
  margin: 150px auto 0;
}

.fiche-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 200px;
}

/* ===========================================
   IMAGE
   =========================================== */
.fiche-image {
  width: 600px;
  height: 600px;
  border-radius: var(--radius-lg);
  object-fit: cover;
}

/* ===========================================
   CONTENU
   =========================================== */
.fiche-content {
  width: 500px;
  height: 500px;
  text-align: left;
}

.fiche-titre {
  font-family: var(--font-xbold);
  font-size: var(--text-title);
  margin: 0;
  color: var(--color-gray-dark);
}

.fiche-auteur {
  font-family: var(--font-bold);
  font-size: var(--text-md);
  color: var(--color-gray-pale);
  margin: 5px 0 20px 0;
}

.fiche-synopsis {
  font-family: var(--font-main);
  font-size: var(--text-md);
  margin: 3rem 0;
  margin-bottom: 5rem;
  line-height: 1.3;
  color: var(--color-gray-dark);
}

/* ===========================================
   BOUTON CTA
   =========================================== */

.btns-fiche {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.fiche-cta-btn {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  opacity: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: var(--radius-pill);
  padding: 8px 18px;
  padding-left: 0;
  overflow: hidden;
  font-family: var(--font-main);
  transition: 0.2s ease;
}

.btn-reprendre {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  border: none;
  cursor: pointer;
  opacity: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: var(--radius-pill);
  font-size: var(--text-sm);
  padding: 11px 18px;
  font-family: var(--font-main);
  transition: all 0.2s ease;
}

.btn-reprendre:hover {
  background-image: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
}

.img-reprendre {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  transition: transform 0.2s ease;
}

.btn-reprendre:hover .img-reprendre {
  transform: rotate(-180deg);
}

.fiche-cta-text {
  font-size: var(--text-sm);
  padding: 0 16px;
  transition: transform 0.45s;
}

.fiche-cta-arrow {
  font-size: var(--text-md);
  opacity: 1;
  transition: transform 0.5s, opacity 0.2s;
}

.fiche-cta-arrow.left {
  opacity: 0;
  transform: translateX(-20px);
}

/* Hover effects du bouton CTA */
.fiche-cta-btn:hover {
  background-image: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  transform: scale(1.05);
}

.fiche-cta-btn:hover .fiche-cta-text {
  transform: translateX(26px);
}

.fiche-cta-btn:hover .fiche-cta-arrow.left {
  opacity: 1;
  transform: translateX(20px);
}

.fiche-cta-btn:hover .fiche-cta-arrow.right {
  opacity: 0;
  transform: translateX(32px);
}

/* ===========================================
   GENRE (tag)
   =========================================== */
.genre-fiche-bg {
  display: inline-block;
  background-image: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  padding: 4px 12px;
  border-radius: var(--radius-md);
}

.genre-fiche {
  color: var(--color-white);
  font-size: var(--text-sm);
  margin: 0;
  font-family: var(--font-main);
}
