.footer-container-flex {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: var(--font-main);
  color: var(--color-gray-dark);
}

.footer-logo {
  width: 60%;
}

.footer-text {
  margin: 0;
}
