.background {
  background-image: url("/png/header_bg.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed rgba(0, 0, 0, 0.438);
  width: 90%;
  height: 240px;
  color: rgb(54, 54, 54);
  padding: 50px;
  padding-bottom: 100px;
  border-radius: 10px;
}

.import-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 55%;
  margin: 4rem 20rem 0 20rem;
  background-color: rgba(255, 255, 255, 0.616);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  padding: 20px;
  border-radius: 10px;
}

.img-import {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 60px;
}

.txt-import {
  font-size: 1.2rem;
}

.import-cta-btn {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 100px;
  padding: 8px 18px;
  padding-left: 0;
  overflow: hidden;
  font-family: "Creato";
  margin-top: 70px;
}

.import-cta-text {
  font-size: 1rem;
  padding: 0 16px;
  transition: transform 0.45s;
}

.import-cta-arrow {
  font-size: 1.6rem;
  opacity: 1;
  transition: transform 0.5s, opacity 0.2s;
}

.import-cta-arrow.left {
  opacity: 0;
  transform: translateX(-20px);
}

.import-cta-btn:hover {
  background-image: linear-gradient(90deg, #ec6e9e 0%, #f2a191 100%);
}

.import-cta-btn:hover .import-cta-text {
  transform: translateX(36px);
}

.import-cta-btn:hover .import-cta-arrow.left {
  opacity: 1;
  transform: translateX(30px);
}

.import-cta-btn:hover .import-cta-arrow.right {
  opacity: 0;
  transform: translateX(32px);
}
