.background {
  background-image: url("/png/header_bg.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed #00000070;
  width: 90%;
  height: 240px;
  color: var(--color-gray-dark);
  padding: 50px;
  padding-bottom: 100px;
  border-radius: 10px;
}

.import-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 55%;
  margin: 4rem 20rem 0 20rem;
  background-color: #ffffff9d;
  box-shadow: var(--shadow-soft);
  padding: 20px;
  border-radius: 10px;
}

.img-import {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 60px;
}

.txt-import {
  font-size: var(--text-md);
}

.import-cta-btn {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: var(--radius-pill);
  padding: 8px 18px;
  padding-left: 0;
  overflow: hidden;
  font-family: var(--font-main);
  margin-top: 70px;
}

.import-cta-text {
  font-size: var(--text-sm);
  padding: 0 16px;
  transition: transform 0.45s;
}

.import-cta-arrow {
  font-size: 1.6rem;
  opacity: 1;
  transition: transform 0.5s, opacity 0.2s;
}

.import-cta-arrow.left {
  opacity: 0;
  transform: translateX(-20px);
}

.import-cta-btn:hover {
  background-image: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
}

.import-cta-btn:hover .import-cta-text {
  transform: translateX(36px);
}

.import-cta-btn:hover .import-cta-arrow.left {
  opacity: 1;
  transform: translateX(30px);
}

.import-cta-btn:hover .import-cta-arrow.right {
  opacity: 0;
  transform: translateX(32px);
}
