.nav {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 78%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #eeeeee88;
  border-radius: var(--radius-lg);
  backdrop-filter: blur(4px);
  height: 20px;
}

.logo {
  padding: 5px 18px;
  width: 100px;
}

.createBtn {
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: var(--radius-lg);
  border: none;
  cursor: pointer;
  padding: 15px 25px;
  font-family: var(--font-main);
}

.nav-btn {
  display: flex;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: var(--radius-lg);
  border: none;
  cursor: pointer;
  padding: 13px 15px;
  padding-left: 0;
  font-family: var(--font-main);
  overflow: hidden;
  transition: 0.2s ease;
}

.nav-cta-text {
  font-size: var(--text-sm);
  padding: 0 16px;
  transition: transform 0.45s;
}

.nav-cta-arrow {
  font-size: 1rem;
  opacity: 1;
  transition: transform 0.5s, opacity 0.4s;
}

.nav-cta-arrow.left {
  opacity: 0;
  transform: translateX(-20px);
}

.nav-btn:hover {
  background-image: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  transform: scale(1.05);
}

.nav-btn:hover .nav-cta-text {
  transform: translateX(20px);
}

.nav-btn:hover .nav-cta-arrow.left {
  opacity: 1;
  transform: translateX(20px);
}

.nav-btn:hover .nav-cta-arrow.right {
  opacity: 0;
  transform: translateX(20px);
}

.img-logout {
  width: 43px;
  height: 43px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.img-logout:hover {
  transform: scale(1.1);
} 
.nav-flex {
  display: flex;
  flex-direction: row;
  gap: 10;
  align-items: center;
}
