.content-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Creato-Bold";
  font-size: 1.5rem;
  gap: 30px;
}

.page404-cta-btn {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 100px;
  padding: 8px 18px;
  padding-left: 0;
  overflow: hidden;
  font-family: "Creato";
  margin-top: 30px;
}

.page404-cta-text {
  font-size: 1rem;
  padding: 0 16px;
  transition: transform 0.45s;
}

.page404-cta-arrow {
  font-size: 1.6rem;
  opacity: 1;
  transition: transform 0.5s, opacity 0.2s;
}

.page404-cta-arrow.left {
  opacity: 0;
  transform: translateX(-20px);
}

.page404-cta-btn:hover {
  background-image: linear-gradient(90deg, #ec6e9e 0%, #f2a191 100%);
}

.page404-cta-btn:hover .page404-cta-text {
  transform: translateX(36px);
}

.page404-cta-btn:hover .page404-cta-arrow.left {
  opacity: 1;
  transform: translateX(30px);
}

.page404-cta-btn:hover .page404-cta-arrow.right {
  opacity: 0;
  transform: translateX(32px);
}
