.recents-section {
  display: flex;
  flex-direction: column;
  background-color: #e0e0e05b;
  margin: 0 100px 0 100px;
  border-radius: 50px;
  padding-bottom: 80px;
}

.recents-section-title {
  padding-left: 161px;
  padding-top: 60px;
  font-size: 2.5rem;
  font-family: Creato;
  color: rgb(54, 54, 54);
}

.recents-grid {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  gap: 100px;
  justify-content: center;
}

.card-container {
  background-color: #ffffff;
  width: 400px;
  height: 500px;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  font-family: Creato;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.card-container:hover {
  transform: translateY(-6px); /* Monte l'image de 6px */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25); /* Ombre douce en dessous */
}

.recents-img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 25px;
}

.recents-title {
  font-family: "Creato-Bold";
  font-size: 1.6rem;
  margin-left: 10px;
  max-width: 400px;
  color: rgb(54, 54, 54);
  margin-bottom: 5;
}

.recents-author {
  padding-left: 10px;
  color: rgba(54, 54, 54, 0.589);
  font-family: "Creato-ExtraBold";
  margin-top: 0;
  margin-bottom: 25px;
}

.genre {
  color: white;
  font-size: 0.9rem;
  margin: 0;
  font-family: "Creato";
}
.genre-bg {
  display: inline-block;
  background: linear-gradient(90deg, #ec6e9e, #f7ab93, #ffa97b);
  padding: 4px 12px;
  border-radius: 20px;
  margin-left: 10px;
}
