.signup-left-message {
  position: absolute;
  max-width: 420px;
  color: var(--color-gray-dark);
  z-index: 999;
  left: 20%;
  top: 40%;
}

.signup-left-message {
  font-size: var(--text-title);
  text-transform: uppercase;
  font-family: var(--font-xbold);
  color: var(--color-gray-dark);
}

.signup-left-message p span {
  color: var(--color-primary);
}

.text-signin {
  font-size: var(--text-sm);
  padding-top: 30px;
  margin: 0;
}

.text-signin a {
  color: var(--color-primary);
}
