.wrapper--horreur {
  height: 100vh;
  --bg-color: #000;
  background: radial-gradient(
    circle at center,
    var(--bg-color) 0%,
    #050000 70%
  );
}

.wrapper {
  height: 100vh;
  background: linear-gradient(135deg, #bddd7e, #618872, #bddd7e);
  background-size: 200% 200%;
}

.histoire-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Creato";
  font-size: 2rem;
  line-height: 1.5;
  color: #fff;
}

.histoire-container p {
  opacity: 1;
}

.histoire-container p span {
  display: inline-block;
}

.line {
  display: block;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

.visualisation-cta-btn {
  position: absolute;
  top: 85%;
  left: 7%;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 100px;
  padding: 8px 18px;
  padding-left: 0;
  overflow: hidden;
  font-family: "Creato";
  margin-top: 30px;
}

.visualisation-cta-text {
  font-size: 1rem;
  padding: 0 16px;
  transition: transform 0.45s;
}

.visualisation-cta-arrow {
  font-size: 1.6rem;
  opacity: 1;
  transition: transform 0.5s, opacity 0.2s;
}

.visualisation-cta-arrow.left {
  opacity: 0;
  transform: translateX(-20px);
}

.visualisation-cta-btn:hover {
  background-image: linear-gradient(90deg, #ec6e9e 0%, #f2a191 100%);
}

.visualisation-cta-btn:hover .visualisation-cta-text {
  transform: translateX(36px);
}

.visualisation-cta-btn:hover .visualisation-cta-arrow.left {
  opacity: 1;
  transform: translateX(30px);
}

.visualisation-cta-btn:hover .visualisation-cta-arrow.right {
  opacity: 0;
  transform: translateX(32px);
}

.sparkle {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffffffe6;
  box-shadow: 0 0 12px #ffffffe6;
}

.sparkle-1 {
  top: 30%;
  left: 15%;
}
.sparkle-2 {
  top: 50%;
  right: 10%;
}
.sparkle-3 {
  bottom: 20%;
  left: 40%;
}
