/* @import "tailwindcss"; */

@font-face {
  font-family: "Creato";
  src: url("/fonts/CreatoDisplay-Regular.otf") format("opentype");
}

:root {
  --color-cookie-bg: #ebd1da;
  --color-cookie-darken: color-mix(
    in hsl,
    var(--color-cookie-bg) 60%,
    #000 40%
  );

  --color-todo-text: #999;
  --color-todo-border: #e4e4e4;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
