@font-face {
  font-family: "Creato";
  src: url("/fonts/CreatoDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Creato-Medium";
  src: url("/fonts/CreatoDisplay-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Creato-Bold";
  src: url("/fonts/CreatoDisplay-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Creato-ExtraBold";
  src: url("/fonts/CreatoDisplay-ExtraBold.otf") format("opentype");
}

:root {
  --color-cookie-bg: #ebd1da;
  --color-cookie-darken: color-mix(
    in hsl,
    var(--color-cookie-bg) 60%,
    #000 40%
  );

  /* COULEURS */

  /* Couleurs principales */
  --color-primary: #ec6e9e;
  --color-secondary: #f2a191;
  --color-accent: #ffa97b;

  /* Teintes de gris */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-dark: #363636;
  --color-gray-pale: #888888;
  --color-gray-transparent: #e0e0e05b;

  /* TEXTE */
  --font-main: "Creato";
  --font-bold: "Creato-Bold";
  --font-xbold: "Creato-ExtraBold";

  --text-title: 2.5rem;
  --text-lg: 1.8rem;
  --text-md: 1.2rem;
  --text-sm: 0.9rem;

  /* BORDER RADIUS */
  --radius-lg: 50px;
  --radius-md: 20px;
  --radius-pill: 100px;

  /* BOX SHADOW */
  --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.12);
  --shadow-hover: 0 8px 24px rgba(0, 0, 0, 0.2);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Nodes */
.react-flow__node {
  background: #ffffff1f !important;
  backdrop-filter: blur(10px);
  border-radius: 18px !important;
  padding: 0.9rem 1.2rem !important;
  border: 1px solid #ec6e9eb3 !important;
  box-shadow: 0 8px 10px #0000001a;
  transition: box-shadow 0.2s ease, border 0.2s ease;
}

.react-flow__node-default.selectable.selected,
.react-flow__node-default.selectable:focus {
  box-shadow: none !important;
}

/* Handles */
.react-flow__handle {
  width: 10px !important;
  height: 10px !important;
  background: var(--color-primary) !important;
  border-radius: 999px !important;
  border: none !important;
  box-shadow: 0 0 0 3px #ec6e9e40;
}

/* Edges */
.react-flow__edge-path {
  stroke: #00000073 !important;
  stroke-width: 2 !important;
}

.react-flow__edge.selected .react-flow__edge-path {
  stroke: var(--color-primary) !important;
}

.react-flow__edge-textbg {
  fill: #4d4d4d !important;
  height: 18px;
  width: 18px;
  transform: translateX(-3px);
}

.react-flow__edge-text {
  fill: #ffffff !important;
  font-family: "Creato";
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffe4d6;
}

.loading-text {
  font-family: var(--font-main);
  font-size: var(--text-lg);
  color: var(--color-primary);
  animation: pulse 1.6s ease-in-out infinite;
}

.dots {
  animation: dots 1.4s infinite;
}

@keyframes dots {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
